openapi: 3.1.0
info:
  version: 1.0.0
  title: Utility Payments
  description: Utilities like Electricity, Water, TV and Internet are essential services that are provided by utility companies servicing your local region. These services are usually postpaid or prepaid. <br> <br> Reloadly's Utility Payments API provides you the capability to pay a growing number of service providers in multiple markets. An application developer can easily integrate with Reloadly's Utility Payments API and start accepting payments from end users. Payments are routed to the utility company in real-time via Reloadly's scalable network. You can either pay to local utility companies, or pay for cross-border companies. You don't need to deal with cumbersome paperwork or contracts since we have made this easy for you. <br> <br> Irrespective of the destination utility company, Reloadly's customers are completely abstracted away of the underlying heterogeneity and complexities involved in integrating with utility companies. We have already done the hard work of integration so that you don't have to. <br> <br> <blockquote style="font-size:16px; padding:30px 15px; color:#000000; background:rgba(212, 31, 28, 0.07); border-radius:5px">To avoid any authentication errors, ensure you are working with the right access token for the Utility Payments product. You can find out more details in the <a href="https://docs.reloadly.com/tag/Authentication">Authentication</a> section.</blockquote>
  termsOfService: 'https://www.reloadly.com/terms-of-use'
  contact:
    email: support@reloadly.com
    url: 'https://www.reloadly.com/'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: Authentication
    description: Reloadly uses access tokens ( or bearer tokens ) to authenticate requests and grant access to our APIs. Access tokens differ across our various products. This means that you can only use an access token generated for the airtime service on the Utility Payments API, the same goes for other products. <br><br> Also, Reloadly has two operating environments - **Production** which allows you work with live credentials while building real world applications and **Sandbox** which helps you access our APIs in test mode and simulate real-like scenarios. Below is a table that shows the server URL for Reloadly's Utility Payments products. <br><br> <table><thead><tr><th>Product</th><th>Environment</th><th>Service URL</th></tr></thead><tbody><tr><td>Utility Payments</td><td>Production</td><td>https://utilities.reloadly.com</td></tr><tr><td></td><td>Sandbox</td><td>https://utilities-sandbox.reloadly.com</td></tr></tbody></table> <br><br> To get an access token, first obtain your **client id** and **client secret** from the <a href="https://www.reloadly.com/">Reloadly dashboard</a>. Then make a **POST** request with the payload format provided in the code sample section.
  - name: Account Balance
    description: The **Balance** feature lets you view the details of your account balance in real-time. Information provided by the **Balance** feature includes an account's balance, the currency name and denomination of the account, and the last time funds were used from the account. 
  - name: Utility Billers
    description: The data on **Utility Billers** provides insight into the utility payment services that can be used to make a bill payment. With the **Utility Billers** feature, you can get details of over 50 utility payment companies for various services located in different regions. <br> <br> Some of the information included in the biller's details are the biller's name, service type, and payment type. 
  - name: Pay Bill
    description: The **Pay Bill** feature works with other features in the Utility Payments product to make utility payments to a subscriber. Actions you can carry out include making an instant electricity, water, or internet bill payment. <br> <br> Some of the information you can view includes the transaction ID, the reference ID for each utility payment, the discount applied to each utility payment, and the amount used in makng the utility payment.
  - name: Transactions
    description: The Utilty Payments **Transactions** feature enables you to access information on every utility payment carried out on your Reloadly account. Every transaction has a unique ID for each transaction done by an account. <br> <br> Important data in the details of every utility payment transaction include the transaction ID, transaction date, biller's name, reference ID, and the discount applied to the transaction  —  if there was any. 

components:
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer

security:
  - BearerToken: [] 
  
servers:
  - url: https://auth.reloadly.com
  
paths:
  /oauth/token:
    $ref: 
        paths/access-token.yaml
    servers:
      - url: https://auth.reloadly.com
  /accounts/balance:
    $ref: paths/utility-payments-accounts-balance.yaml
    servers:
      - url: https://utilities.reloadly.com
        description: Production
      - url: https://utilities-sandbox.reloadly.com
        description: Sandbox
  /billers:
    $ref: paths/utility-payments-get-all-billers.yaml
    servers:
      - url: https://utilities.reloadly.com
        description: Production
      - url: https://utilities-sandbox.reloadly.com
        description: Sandbox
  /pay:
    $ref: paths/utility-payments-pay-bill.yaml
    servers:
      - url: https://utilities.reloadly.com
        description: Production
      - url: https://utilities-sandbox.reloadly.com
        description: Sandbox
  /transactions:
    $ref: paths/utility-payments-get-all-transactions.yaml
    servers:
      - url: https://utilities.reloadly.com
        description: Production
      - url: https://utilities-sandbox.reloadly.com
        description: Sandbox
  /transaction/{id}:
    $ref: paths/utility-payments-get-transaction-by-id.yaml
    servers:
      - url: https://utilities.reloadly.com
        description: Production
      - url: https://utilities-sandbox.reloadly.com
        description: Sandbox